
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300px;
    background-color: black;
    color:#fff;
}

#draw-here{

    position: absolute;
    background:black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}